#create-spot-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#country-label-spot, #address-label-spot, #city-label-spot, #state-label-spot, .create-border-bottom {
    display: block;
    margin-bottom: 10px;
}

.country-input, .address-input, .city-input, .state-input, .spot-name-input, .price-input, .image-url-input, .create-text-area, .preview-image-url {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

#city-state-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#state-label-spot{
    margin-left: 10px;
}
#city-label-spot {
    flex: 1;
    margin-right: 10px; 
}

.city-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.city-input:focus {
    border-color: #FF385C;
    outline: none;
}
#state-label-spot {
    flex: 1;
}
.state-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
#submit-create-spot {
    width: 100%;
    background: #FF385C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}