.create-spot-form {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.section-divider-line {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


.h1-header, .create-spot-h2{
    color: #333;
    margin-bottom: 10px;
}

.label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}


input[type='text'],
input[type='url'],
input[type='number'],
textarea 
{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input::placeholder, textarea::placeholder {
    color: #aaa;
}


.errors {
    color: #d84228;
    font-size: 0.9em;
}


.city-state-input {
    display: flex;
    gap: 10px;
}


.description-text-box {
    height: 100px;
}


.price-input-detail {
    display: flex;
    align-items: center;
}

.dollar-sign {
    margin-right: 5px;
    font-size: 1.2em;
}

.create-button {
    background-color: #d84228;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.create-spot-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-button:hover {
    background-color: #d84228;
}

.create-button:disabled {
    background-color: #ccc;
    cursor: default;
}
